* {
  font-family: "microsoft jhenghei";
}

body {
  background: url("../imgs/skulls.png");
}
.title {
  background: white;
  border-bottom: solid 1px gray;
}

.header-bar {
  cursor: pointer;
}

div.container {

}

h1 {
  color: CadetBlue;
}

td > div {
  border: solid 1px black;
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.31);
  transition-duration: .5s;
}

ul.list-inline {
  margin-left: 0;
}

td> div:hover {
  box-shadow: 0 0 5px rgb(108, 225, 246);
  border: solid 1px rgb(108, 225, 246);
  transition-duration: .5s;
}

.jumbotron {
  background-color: white;
  color: CadetBlue;
}

div.jumbotron-text-content > h1 {
  font-size: 2.5em;
}

.numForm {
  margin: auto;
  /*border: solid 1px purple;*/
  color: maroon;
}

.main-page {
  min-height: 700px;
}

footer {
  background-color: gray;
  color: white;
  height: 200px;
  width: auto;
  clear: both;
}

footer.footer {
  width: auto !important;
}

input.col-xs-12 {
  line-height: 3;
}

form {
  line-height: 5;
}

input.btn-primary {
  width: 100%;
}

.tab-bar {
  background-color: CadetBlue;
  color: white;
  border-radius: 5px 5px 0 0;
  border-bottom: solid 1px gray;
  font-size: 2em;
}

.tab-bar-text {
  margin: 0;
}

.active {
  background-color: CadetBlue !important;
  color: white !important;
}

.ng-touched.ng-invalid {
  border: 2px red solid;
  box-shadow: 0 0 7px rgba(255, 0, 0, 0.53);
}

.input-form {
  display: inline;
  height: 50px;
  width: 150px;
  border-radius: 5px;
}

.form-div, .result-div{
  border: solid 1px gray;
  border-radius: 5px;
  position: relative;
}
