* {
  font-family: "microsoft jhenghei";
}

.background {
  background: url("../imgs/skulls.png");
}


body {
  background-color: gray;
}
.title {
  background: white;
  border-bottom: solid 1px gray;
}

.header-bar {
  cursor: pointer;
}

div.container {

}

.num-cube-detail {
  padding-left: 15px;
  font-size: 1.2em;
}

h1 {
  color: CadetBlue;
}

td > div {
  border: solid 1px black;
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.31);
  transition-duration: .5s;
}

ul.list-inline {
  margin-left: 0;
}

.jumbotron {
  background-color: white;
  color: CadetBlue;
}

div.jumbotron-text-content > h1 {
  font-size: 2.5em;
}

.numForm {
  margin: auto;
  font-size: 1.2em;
  color: red;
}

.main-page {
  min-height: 500px;
}

.num-cube {
  border: solid 1px gray;
  width: 100px;
  height: 100px;
  text-align: center;
}

.cube-box {
  margin-bottom: 30px;
}

.num-cube > h1 {

}

footer {
  background-color: gray;
  color: white;
  width: auto;
  clear: both;
}

.exp-content {
  display: block;;
  color: red;
}
.num-symble {
  border: solid 1px gray;
  width: 100px;
  height: 100px;
  display: inline-table;
  text-align: center;
  margin-bottom: 10px;
}

/*.num-symble > h1 {
  color: red;
}*/

.num-cube > p {
  display: inline;
}

.num-cube span {
  color: red;
  font-size: 1.2em;
}

footer.footer {
  width: auto !important;
}

input.col-xs-12 {
  line-height: 3;
}

.exp-para > p {
  font-size: 1.3em;
}

form {
  line-height: 5;
}

input.btn-primary {
  width: 100%;
}

.tab-bar {
  background-color: CadetBlue;
  color: white;
  border-radius: 5px 5px 0 0;
  border-bottom: solid 1px gray;
  font-size: 2em;
}

.tab-bar-text {
  margin: 0;
}

.active {
  background-color: CadetBlue !important;
  color: white !important;
}

.ng-touched.ng-invalid {
  border: 2px red solid;
  box-shadow: 0 0 7px rgba(255, 0, 0, 0.53);
}

.input-form {
  display: inline;
  height: 50px;
  width: 150px;
  border-radius: 5px;
}

.form-div, .result-div{
  border: solid 1px gray;
  border-radius: 5px;
  position: relative;
}

.num-exp {
  border: solid 1px gray;
  border-radius: 5px;
  padding: 15px;
}

.exp-table {
  line-height: 1.5;
  color: maroon;
}

table.exp-table  td{
    padding: 10px !important;
}
