<div class="">
  <br>
  <div class="text-center">
    <h2>生命靈數為{{ctrl.lifeNum | lifeNumber}}的人</h2>
    <h2 class="">{{ctrl.data.summary}}</h2>
  </div>
  <br>
  <div class="exp-para">
    <h1>人格特質</h1>
    <p>{{ctrl.data.personality}}</p>
  </div>
  <div class="exp-para">
    <h1>缺點</h1>
    <p>{{ctrl.data.downside}}</p>
  </div>
  <div class="exp-para">
    <h1>愛情觀</h1>
    <p>{{ctrl.data.love}}</p>
  </div>
  <div class="exp-para">
    <h1>適合的職業</h1>
    <p>{{ctrl.data.job}}</p>
  </div>
</div>
