<div class="result-div">
  <div class="tab-bar text-center">
    <p class="tab-bar-text text-center">靈數解析</p>
  </div>

  <br>

  <div class="container">

    <nav id="top" class="">
      <ul class="btn-group-justified list-inline">
        <li class="btn btn-default btn-lg" ui-sref="analysis.result" ui-sref-active="active">數字命盤</li>
        <li class="btn btn-default btn-lg" ui-sref="analysis.spn" ui-sref-active="active">生命靈數</li>
        <li class="btn btn-default btn-lg" ui-sref="analysis.inAcNum" ui-sref-active="active">先天後天數</li>
      </ul>
    </nav>

  <ui-view></ui-view>
  <br>

  </div>
</div>
<br>
