<div class="text-center">
  <br>
  <h2 class="">
    西元{{ctrl.birthDate.year}}年{{ctrl.birthDate.month}}月{{ctrl.birthDate.day}}日
  </h2>
  <h2>你的生命靈動數為{{ctrl.lifeNum | lifeNumber}}</h2>
</div>
<br>
<table class="numForm text-center">
<tr>
  <td></td>
  <td><div><h1>0</h1><span>{{ctrl.lifeNum[0] | NumToImg: "□"}}</span><span>{{ctrl.innateNum[0] | NumToImg: "○"}}</span><span>{{ctrl.acquiredNum[0] | NumToImg: "△"}}</span></div></td>
  <td></td>
</tr>
<tr>
  <td><div><h1>1</h1><span>{{ctrl.lifeNum[1] | NumToImg: "□"}}</span><span>{{ctrl.innateNum[1] | NumToImg: "○"}}</span><span>{{ctrl.acquiredNum[1] | NumToImg: "△"}}</span></div></td>
  <td><div><h1>4</h1><span>{{ctrl.lifeNum[4] | NumToImg: "□"}}</span><span>{{ctrl.innateNum[4] | NumToImg: "○"}}</span><span>{{ctrl.acquiredNum[4] | NumToImg: "△"}}</span></div></td>
  <td><div><h1>7</h1><span>{{ctrl.lifeNum[7] | NumToImg: "□"}}</span><span>{{ctrl.innateNum[7] | NumToImg: "○"}}</span><span>{{ctrl.acquiredNum[7] | NumToImg: "△"}}</span></div></td>
</tr>
<tr>
  <td><div><h1>2</h1><span>{{ctrl.lifeNum[2] | NumToImg: "□"}}</span><span>{{ctrl.innateNum[2] | NumToImg: "○"}}</span><span>{{ctrl.acquiredNum[2] | NumToImg: "△"}}</span></div></td>
  <td><div><h1>5</h1><span>{{ctrl.lifeNum[5] | NumToImg: "□"}}</span><span>{{ctrl.innateNum[5] | NumToImg: "○"}}</span><span>{{ctrl.acquiredNum[5] | NumToImg: "△"}}</span></div></td>
  <td><div><h1>8</h1><span>{{ctrl.lifeNum[8] | NumToImg: "□"}}</span><span>{{ctrl.innateNum[8] | NumToImg: "○"}}</span><span>{{ctrl.acquiredNum[8] | NumToImg: "△"}}</span></div></td>
</tr>
<tr>
  <td><div><h1>3</h1><span>{{ctrl.lifeNum[3] | NumToImg: "□"}}</span><span>{{ctrl.innateNum[3] | NumToImg: "○"}}</span><span>{{ctrl.acquiredNum[3] | NumToImg: "△"}}</span></div></td>
  <td><div><h1>6</h1><span>{{ctrl.lifeNum[6] | NumToImg: "□"}}</span><span>{{ctrl.innateNum[6] | NumToImg: "○"}}</span><span>{{ctrl.acquiredNum[6] | NumToImg: "△"}}</span></div></td>
  <td><div><h1>9</h1><span>{{ctrl.lifeNum[9] | NumToImg: "□"}}</span><span>{{ctrl.innateNum[9] | NumToImg: "○"}}</span><span>{{ctrl.acquiredNum[9] | NumToImg: "△"}}</span></div></td>
</tr>
</table>
<br>
<p class="text-center"><span class="glyphicon glyphicon-info-sign"></span>點選上方的"生命靈數"和"先天後天數"標籤有更詳細的解說！</p>
<br>
