<div class="form-div">
  <div class="tab-bar">
    <p class="tab-bar-text text-center">請輸入西元出生年月日</p>
  </div>
  <div class="container">
  <form class="form-inline text-center" name="birthdayForm" novalidate>
    <div class="form-group">
      <label for="input-year">年份</label>
      <input id="input-year" class="input-form" ng-model="ctrl.birthDate.year" type="number" min="1001" max="2999" name="year" value="" placeholder="出生年份" required>
    </div>
    <div class="form-group">
      <label for="input-month">月份</label>
      <input id="input-month" class="input-form" ng-model="ctrl.birthDate.month" type="number"  min="1" max="12"name="month" value="" placeholder="出生月份" required>
    </div>
    <div class="form-group">
      <label for="input-day">日子</label>
      <input id="input-day" class="input-form" ng-model="ctrl.birthDate.day" type="number"  min="1" max="31"name="day" value="" placeholder="出生日期" required>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="birthdayForm.$invalid && (birthdayForm.year.$touched && birthdayForm.month.$touched && birthdayForm.day.$touched)">輸入錯誤！請再確認出生日期是否輸入正確！</div>
    <input class="btn btn-primary" ui-sref="home.result" ng-click="ctrl.getBirthData()" type="submit" ng-disabled="birthdayForm.$invalid" value="確認">
  </form>
</div>
</div>
<hr>

  <ui-view></ui-view>
